<h2>なんでも質問版</h2>

<%= render 'questions/form' %>
<br><br><br>
<h2>投稿された質問</h2>
<ul class="question">
    <% @questions.each do |question| %>
        <p><span class="time"><%= question.created_at.strftime("%Y/%m/%d") %></span> <%= question.username %>さんの質問</p>
    	<%= link_to question.title, question_path(question) , { :class => "post_title" } %>
    <% end %>
</ul>