<h2>ユーザー 一覧</h2>
<ul class="brokers">
    <% @users.reverse.each do |user| %>
        <li>
            <p><%= link_to user.username, user %>:<%= link_to user.comments_count, user %></p>
        </li>
        <% @bas.each do |ba| %>
            <% if ba.username == user.username %>
            <% end %>
        <% end %>
        <br><br><br>
    <% end %>
</ul>
<br><br>