<h2>BA数によるユーザーランキング</h2>

<table>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>質問板ID</th>
    </tr>
  </thead>

  <tbody>
    <% @bas.each do |ba| %>
      <tr>
        <td><p><%= ba.username %></p></td>
        <td><%= ba.question_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

