html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,a,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font-weight:normal;text-decoration:none;vertical-align:baseline;background:transparent;}html,body{width:100%;height:100%;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block;}ul,li,ol{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}del{text-decoration: line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}img{vertical-align:top;font-size:0;line-height: 0;}

html, body{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

a{
    color: #000;
}

.wrapper-header{
    width: 100%;
    height: 40px;
    background: #555;
}

.site-title{
    display: inline-block;
    line-height: 40px;
    text-indent: 3em;
    font-size: 26px;
}

.site-title a{
    color: #f5f5f5;
}

nav{
    display: inline-block;
    height: 40px;
}

nav li{
    display: inline-block;
}

nav li a{
    padding: 0 1em;
    color: #cdcdcd;
    line-height: 40px;
    cursor: pointer;
}

.top{
    width: 100%;
    height: 300px;
    background: url('background.jpg');
    background-position: top center;
    background-size: cover;
}

.container{
    width: 100%;
    height: auto;
    padding-top: 30px;
    background: #f5f5f5;
}

.sidebar, .content{
    display: inline-block;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

.sidebar{
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
}

.sidebar p{
    text-align: center;
}

.left-side{
    float: left;
}

.right-side{
    float: right;
}

.sidebar h2{
    width: 90%;
    margin: 10px auto;
    background: #cdcdcd;
    text-align: center;
    font-size:17px;
    line-height: 34px;
}

.sidebar span{
    display: block;
    margin-bottom: 30px;
}

.user_edit {
    display: inline-block;
    font-size: 15px;
    padding: 0.7em;
    background: #888;
    margin: 10px auto;
    border-radius: 10px;
    color: #fff;
}

/* userのアイコン画像
s = サイドバー
m = メインページ
*/
.user_icon_s {
    display: block;
    width: 100px;
    height: auto;
    max-height: 200px;
    margin: 0 auto;
}

.user_icon_m {
    display: inline-block;
    width: 140px;
    height: auto;
    max-height: 300px;
    padding: 18px;
}

.user_profile{
    display: inline-block;
    width: 40%;
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc inset;
}

.sidebar-list{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.sidebar-list li{
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 10px 0;
}

.rank-img{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    float: left;
}

.rank-name{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    text-indent: 1em;
    color: #2b2b2b;
}

.add{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.content{
    position: relative;
    width: 54%;
    margin: 0 3% 50px 3%;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
}

.content h2{
    display: block;
    margin: 10px auto;
    font-size: 22px;
    border-bottom: solid 2px #73e673;
    line-height: 34px;
}

.news{
    display: block;
    margin: 0 auto;
}

.news li a{
    display: block;
    color: #000;
    font-size: 17px;
    line-height: 28px;
}

.news li a span{
    color: #3333ff;
    margin-right: 1em;
}

.bro-pro{
    display: block;
    padding: 20px;
    margin: 20px 0;
    font-size: 17px;
    background: #cdcdcd;
    border-radius: 8px;
}


.content form{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.content form>.btn{
    margin: 20px 10px;
}

.content label, .content input, .content textarea{
    display: block;
    width: 100%;
}

.content label{
    margin: 20px 0 10px 0;
}

.content input, .content textarea{
    width: 100%;
    font-size: 17px;
    padding: 0.4em;
}

.content input{
    font-size: 17px;
}

:focus{
    outline: none;
}

.content textarea{
    height: 15em;
    transition: all 0.2s ease;
}

.content table{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.content table th{
    width: 9em;
    padding: 20px;
    border: solid 1px #cdcdcd;
    background: #777;
    color: #fff;
}

.content table td{
    border: solid 1px #cdcdcd;
    text-align: left;
    text-indent: 1em;
}

.content p{
    font-size: 17px;
    line-height: 1.6em;
}

.time {
    display: inline-block;
    color: #666;
}

.post_title{
    display: block;
    font-size: 18px;
    background: #fff;
    color: #2b2b2b;
    line-height: 2em;
    padding: 0 1em;
    margin-bottom: 10px;
    border-top: solid 2px #999;
}

.board_create_btn{
    background: #777;
    color: #fff;
    display: block;
    padding: 1em;
    cursor: pointer;
    text-align: center;
}

.board_create{
    display: none;
    padding: 30px 0;
    border: solid 2px #777;
}

.twitter_login a img{
    height: 33px;
    width: auto;
}

footer{
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 16px;
    background: #666;
    color: #f5f5f5;
    text-align: center;
    clear: both;
}

.notice{
    font-size: 17px;
    color: #ffa500;
}

.notices{
    width: 100%;
    height: 200px;
    overflow: scroll;
}

.notice_category{
    display: inline-block;
    font-size: 16px;
    padding: 0.8em;
    background: #aa4c8f;
    color: #fff;
    border-radius: 5px;
}

.broker_img {
    width: 90%;
    border: solid 10px #fff;
}

.col-3{
  float: left;
  width: 100%;
  position: relative; /* necessary to give position: relative to parent. */
}

input[type="text"]{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-16 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}


.effect-16 ~ .focus-border{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: #3399FF; 
    transition: 0.4s;
}

.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{
    width: 100%; 
    transition: 0.4s;
}

.effect-16 ~ label{
    position: absolute; 
    left: 0; 
    width: 100%; 
    top: 9px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{
    top: -16px; 
    font-size: 12px; 
    color: #3399FF; 
    transition: 0.3s;
}

.ba-btn{
    width: auto;
    padding: 10px;
    background: none;
    margin: 0 auto;
    cursor: pointer;
    color: #4d88ff;
    border: solid 1px #4d88ff;
    border-radius: 7px;
    transition: all 0.2s ease;
}

.ba-btn:hover{
    background: #4d88ff;
    color: #f5f5f5;
}

#reply_body{
    height: 2em;
}

.following_users{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.following_user{
    display: inline-block;
    width: 140px;
    height: 140px;
    position: relative;
    margin: 6px 3px;
    padding: 0;
    background: #fff;
}

.following_user img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.following_name{
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 1.1em;
    color: #f5f5f5;
    background: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px 0;
}

.f-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -100px;
    width: 300px !important;
    height: 3em;
    background: #00ced1;
    border-radius: 9px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: 0px 0px 10px #cdcdcd;
    color: #fff;
    transform: rotateZ(45deg);
}

.followed{
    background: #999;
}