<div class="sidebar left-side">
    <span>
        <% if user_signed_in? %>
            <h2><%= link_to current_user.username , current_user %> さん</h2>
            <% if current_user.image? %>
                <%= image_tag current_user.image %>
            <% else %>
                <%= image_tag("imgres.png", :class => "user_icon") %>
            <% end %>
        <% else %>
            <h2><%= link_to "ログイン", new_user_session_path %></h2>
        <% end %>
    </span>
    
    <span>
        <h2>人気ユーザーランキング</h2>
    </span>
</div>